<nb-card>
   <nb-card-header>Raum {{ roomId }} mit {{ users }} Nutzern</nb-card-header>
   <nb-list>
      <nb-list-item *ngFor="let item of messages">
         {{ item }}
      </nb-list-item>
   </nb-list>
   <nb-card-footer style="display: flex">
      <input type="text" [(ngModel)]="message" (keydown.enter)="sendChat()" nbInput fullWidth />
      <button
         nbButton
         size="medium"
         status="success"
         (click)="sendChat()"
         style="margin-left: 15px"
      >
         Senden
      </button>
   </nb-card-footer>
</nb-card>
