<h1>Room: {{ roomId }}</h1>
<div [ngSwitch]="state">
   <div *ngSwitchCase="'joining'">Joining</div>
   <div *ngSwitchCase="'room-not-found'">Room not found</div>
   <div *ngSwitchCase="'authentication-request'">
      <input type="text" nbInput [(ngModel)]="authenticationKey" />
      <button nbButton status="success" (click)="authenticate()">Authenticate</button>
   </div>
   <div *ngSwitchCase="'authentication-error'">Authentication error: {{ authenticationError }}</div>
   <div *ngSwitchCase="'joined'">Welcome to the room {{ playerName }}</div>
</div>
