<div class="blue-container" [ngStyle]="{ backgroundColor: backgroundColor }">
   <div class="question-header">
      <p class="question-number">Frage {{ question.number }}</p>
      <h1 class="question-name">{{ question.name }}</h1>
   </div>

   <div *ngIf="!onlyRead && !isEffectivelyAnswered" [ngSwitch]="question.type">
      <div *ngSwitchCase="'multiple-choice'" class="answer-grid">
         <button
            *ngFor="let answer of question.answers; index as i"
            class="answer"
            (click)="sendMultipleChoiceAnswer(i)"
         >
            {{ answer.text }}
         </button>
      </div>
      <div *ngSwitchCase="'input'">
         <input type="text" name="Antwort" id="answer" />
      </div>
   </div>

   <div
      *ngIf="!isEffectivelyAnswered"
      class="fixed-toast"
      [ngSwitch]="question.type"
      [ngStyle]="{ 'animation-duration': onlyReadDuration + 's' }"
      [class.bigger-toast]="onlyRead"
   >
      <span *ngSwitchCase="'multiple-choice'">Klicke auf die richtige Antwort.</span>
      <span *ngSwitchCase="'input'">
         Gib die richtige Antwort ein, und klicke auf <b>Bestätigen</b>.
      </span>
   </div>

   <span
      *ngIf="!isEffectivelyAnswered"
      class="progress-bar"
      [class.up]="onlyRead"
      [class.down]="!onlyRead"
      [ngStyle]="{
         'animation-duration': (onlyRead ? onlyReadDuration : question.timeout) + 's'
      }"
   ></span>

   <div *ngIf="isEffectivelyAnswered">
      <span *ngIf="correct == undefined" class="centered-text">
         Warte auf die Antworten der anderen Teilnehmer...
      </span>
      <div *ngIf="correct == true" class="centered-text question-result">
         <nb-icon icon="checkmark-circle-2"></nb-icon>
         Richtig!
      </div>
      <div *ngIf="correct == false" class="centered-text question-result">
         <nb-icon icon="close-circle"></nb-icon>
         Falsch!
      </div>
   </div>
</div>
