.answer-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 2rem;

   width: 800px;
   height: 300px;
}

.answer {
   outline: none;
   border: 2px solid #d9d9d9;
   border-radius: 0.5rem;
   background-color: #ffffff;
   box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.2);

   font-size: 3rem;
   font-weight: 600;
   cursor: pointer;
}

.fixed-toast {
   bottom: 3rem;
   font-size: 1.5rem;
}

.bigger-toast {
   animation: animate-bigger-toast 1s ease-out forwards;
}

.progress-bar {
   position: fixed;
   left: 0;
   bottom: 0;

   width: 0;
   height: 5px;
   background-color: #ffffff;

   animation: animate-progress-bar 1s linear forwards;
}

@keyframes animate-progress-bar {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}

@keyframes animate-bigger-toast {
   0% {
      bottom: 50vh;
      transform: translateY(50%) scale(1.2);
   }
   90% {
      bottom: 50vh;
      transform: translateY(50%) scale(1.2);
   }
   100% {
      bottom: 3rem;
      transform: translateY(0) scale(1);
   }
}
