.container {
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
   align-items: center;

   .title {
      margin-top: 2.5rem;
      margin-bottom: 0;

      font-weight: 700;
      font-size: 2.5rem;
   }

   .subtitle {
      margin-top: 0;
      margin-bottom: 0;

      font-weight: 600;
      font-size: 1.75rem;
      opacity: 50%;
   }
}

.box {
   margin-top: 2rem;
   width: 100%;

   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.1);

   .box-header {
      font-size: 1.35rem;
      font-weight: 600;

      padding: 1rem 1.5rem;
      border-bottom: 1px solid #ededed;
   }

   .box-content {
      padding: 1rem 1.5rem;

      .placeholder {
         text-align: center;
         font-weight: 500;
         opacity: 0.8;
      }
   }

   .box-footer {
      padding: 1rem 1.5rem;
      border-top: 1px solid #ededed;

      display: flex;
      gap: 10px;

      input {
         margin-top: 0;
         flex-grow: 1;
      }

      button {
         margin-top: 0;
      }
   }
}

.row {
   display: flex;
   gap: 20px;

   &:not(:last-child) {
      margin-bottom: 6px;
   }

   .col {
      width: 100%;
      font-size: 1.1rem;

      display: flex;
      align-items: center;
   }

   .token-key {
      background-color: darken(#ffffff, 3%);
      border-radius: 4px;
      padding: 0.2rem 0.4rem;
      user-select: text;
   }

   .token-name {
      font-weight: 500;
   }

   .token-used {
      width: 120px;

      span {
         display: inline-block;
         width: 100px;
         padding: 0.2rem 0.4rem;

         border-radius: 20px;
         text-align: center;
         font-size: 1rem;
         font-weight: 500;

         color: #20bf6b;
         background-color: transparentize(#20bf6b, 0.85);

         &.used {
            color: #eb3b5a;
            background-color: transparentize(#eb3b5a, 0.85);
         }
      }
   }

   .question-number {
      width: 50px;
      justify-content: center;

      background-color: darken(#ffffff, 3%);
      border-radius: 4px;
      padding: 0.2rem 0.4rem;
   }

   .question-name {
      font-weight: 500;
   }

   .question-type {
      width: fit-content;

      span {
         display: inline-block;
         width: 150px;
         padding: 0.2rem 0.4rem;

         border-radius: 20px;
         text-align: center;
         font-size: 1rem;
         font-weight: 500;

         color: #4b7bec;
         background-color: transparentize(#4b7bec, 0.85);
      }
   }
}

.start {
   position: fixed;
   left: 50%;
   bottom: 3rem;
   transform: translateX(-50%);
   transition: 0.15s ease-in-out;
   cursor: pointer;

   width: 3.5rem;
   height: 3.5rem;
   padding: 0.25rem;

   color: #20bf6b;
   background-color: #d0f0df;
   border-radius: 100%;
   box-shadow: 0 4px 8px -2px rgba(32, 191, 107, 0.33);

   &:hover:not(.disabled) {
      transform: translateX(-50%) scale(1.1);
   }

   &.disabled {
      filter: grayscale(50%);
      cursor: not-allowed;
   }
}
