$color: rgba(250, 130, 49, 1);

.round-icon {
   background-color: rgba(250, 130, 49, 0.15);
   color: $color;
}

.form {
   display: flex;
   flex-direction: row;

   margin-top: 2rem;
   width: 100%;
}

.input {
   flex-grow: 1;
}

.button {
   margin-top: 0;
   margin-left: 0.5rem;

   color: #ffffff;
   background-color: $color;
   border-color: darken($color, 4%);

   &:hover {
      background-color: darken($color, 4%);
   }
}
