.container {
   padding: 1rem 2rem;
   height: 100vh;
   background-color: #4b7bec;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.room-name {
   margin-bottom: 8px;

   color: #ffffff;

   font-weight: 700;
   font-size: 3.25rem;
}

.room-message {
   color: #ffffff;
   opacity: 75%;

   font-weight: 400;
   font-size: 1.5rem;
}
