<div class="blue-container">
   <div class="question-header">
      <p class="question-number">Frage {{ question.number }}</p>
      <h1 class="question-name">{{ question.name }}</h1>
   </div>

   <h2
      class="prompt"
      [ngStyle]="{ 'font-size': question.prompt.length > 250 ? '3.25rem' : undefined }"
   >
      {{ question.prompt }}
   </h2>
   <p class="answer" *ngIf="reveal">Richtige Antwort: {{ correctAnswer }}</p>

   <img *ngIf="question.image" class="prompt-image" [src]="question.image" alt="" />

   <div class="fixed-toast" [ngSwitch]="question.type">
      <span *ngSwitchCase="'multiple-choice'">
         Klicke die richtige Antwort auf deinem Gerät an.
      </span>
      <span *ngSwitchCase="'input'">
         Gib die richtige Antwort auf deinem Gerät ein, und klicke auf <b>Bestätigen</b>.
      </span>
   </div>
</div>
